@model ParkXUI.ViewModel.FindCarpark.FindCarparkViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="section section-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  asp-controller="Home" asp-action="Index">@localizer["menu_home"]</a></li>
            <li class="breadcrumb-item active"><span>@localizer["menu_findCarPark"]</span></li>
            <li class="breadcrumb-item active"><span>@localizer["parkX"]</span></li>
        </ol>
    </div><!--container-->
</div>

<div class="section section-findpark">
	<div class="container">
		<div class="section-group top">
		 	<div class="section-title wow fadeIn">
		 		<h2 class="title-lg">หาที่จอดรถ</h2>
		 	</div>
		 	<ul class="nav nav-location justify-content-center wow fadeIn">
			       <li><a  asp-controller="FindCarpark" asp-action="Index" class="active">@localizer["parkX"]</a></li>
			       <li><a  asp-controller="FindCarpark" asp-action="ManagedByParkX" class="">@localizer["ManagedParkX"]</a></li>
		    </ul>
			<div class="article wow fadeIn">
				<p>@localizer["description"]</p>
			</div>
			<div class="background"></div>
		</div><!--section-group-->

		<div class="section-group">
			<div class="tab-content tab-location-content">
				@if (Model.sites.Count > 0)
				{
					
				}
				<div class="tab-pane show active" style="margin-top:3%;">
					  @foreach (var item in Model.sites) 
                    {
                        <h3 class="mt-4">@item.CompanyName</h3>
                        <div class="row no-gutters wow fadeIn">
                            <div class="col-lg-7">
                                <div class="imagebox tablet-full pr-lg-3">
                                    <a asp-controller="ParkingSites" asp-action="Index" asp-route-siteId="@item.SiteID">
                                        <img class="w-100" src="@item.SiteImages.FirstOrDefault().Image" alt="">
                                        <div class="logo-location w-270 wow fadeInRight">
                                            <img class="w-100" src="@item.siteLogo" alt="">
                                        </div>
                                       <!-- <div class="img-note left wow fadeIn">ภาพจำลองใช้เพื่องานโฆษณาเท่านั้น</div> -->
                                    </a>
                                </div>
                            </div><!--col-lg-7-->
                            <div class="col-lg-5">
                                <div class="map-content-wrap">
                                    <ul class="nav nav-map">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#tab-map-1-1-@item.SiteID">@localizer["mapImage"]</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab-map-2-1-@item.SiteID">@localizer["map"]</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content tab-map-content">
                                        <div class="tab-pane fade show active" id="tab-map-1-1-@item.SiteID">
                                            <a class="imagebox" data-fancybox href="@Url.Action("Index","ParkingSites",new {siteId= item.SiteID})">
                                                <div class="background" style="background-image: url(@item.siteMapImage);"></div>
                                            </a>
                                        </div><!--tab-pane-->
                                        <div class="tab-pane fade" id="tab-map-2-1-@item.SiteID">
                                            <iframe src="@item.siteMapUrl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                        </div><!--tab-pane-->
                                    </div><!--tab-map-content-->
                                    <a class="btn btn-viewmore normal w-270 wow fadeInRight" data-wow-delay="0.2s" asp-controller="ParkingSites" asp-action="Index" asp-route-siteId="@item.SiteID" >@localizer["more"]</a>
                                </div><!--map-content-wrap-->
                            </div><!--col-lg-5-->
                        </div><!--row-->
                    }
				</div><!--tab-pane -->
			</div><!--tab-location-content-->
		</div><!--section-group-->
	 </div><!--container-->
</div><!--section-findpark--> 