@model ParkXUI.ViewModel.FindCarpark.FindCarparkViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="section section-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  asp-controller="Home" asp-action="Index">หน้าแรก</a></li>
            <li class="breadcrumb-item active"><span>หาที่จอดรถ</span></li>
            <li class="breadcrumb-item active"><span>พาร์คเอ็กซ์</span></li>
        </ol>
    </div><!--container-->
</div>

<div class="section section-findpark">
	<div class="container">
		<div class="section-group top">
		 	<div class="section-title wow fadeIn">
		 		<h2 class="title-lg">หาที่จอดรถ</h2>
		 	</div>

		 	<ul class="nav nav-location justify-content-center wow fadeIn">
                                    <li><a  asp-controller="FindCarpark" asp-action="Index" class="active">พาร์คเอ็กซ์</a></li>
				                    <li><a  asp-controller="FindCarpark" asp-action="ManagedByParkX" class="">บริหารโดยพาร์คเอ็กซ์</a></li>
		    </ul>

			<div class="article wow fadeIn">
				<p>กรุงเทพมหานคร ติดอันดับเมืองที่รถติดมากที่สุดของเอเชีย ผู้ใช้รถต้องเสียเวลาบนท้องถนนมากถึง 64 ชม.ต่อปีแล้วยังต้องเสียเวลากับการหาที่จอดรถอีก 20 นาที โดยประมาณ Solution ของเราจึงตอบโจทย์ปัญหาที่จอดรถไม่เพียงพอ และเป็นอีกหนึ่งทางเลือก ที่เพิ่มความคล่องตัวในการใช้ชีวิตสําหรับคนกรุงเทพมหานคร</p>
			</div>

			<div class="background"></div>
		</div><!--section-group-->

		<div class="section-group">
			<div class="tab-content tab-location-content">
				<div class="tab-pane show active" style="margin-top:3%;">
					@foreach (var item in Model.sites) 
					{<br>
					<br>
					<h3>@item.siteName</h3>
					<div class="row no-gutters wow fadeIn">
						<div class="col-lg-7">
							<div class="imagebox tablet-full pr-lg-3">
								<a  asp-controller="ParkingSites" asp-action="Index"  asp-route-siteId="@item.siteId">
									<img class="w-100" src="@item.siteImage" alt="">
									<div class="logo-location w-270 wow fadeInRight">
										<img class="w-100" src="@item.siteLogo" alt="">
									</div>
								   <!--	<div class="img-note left wow fadeIn">ภาพจำลองใช้เพื่องานโฆษณาเท่านั้น</div> -->
								</a>
							</div>
						</div><!--col-lg-7-->
						<div class="col-lg-5">
							<div class="map-content-wrap">
								<ul class="nav nav-map">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#tab-map-1-1">แผนที่ตั้ง</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#tab-map-2-1">แผนที่เดินทาง</a>
									</li>
								</ul>
								<div class="tab-content tab-map-content">
									<div class="tab-pane fade show active" id="tab-map-1-1">
										<a class="imagebox" data-fancybox="" href="@item.siteMapImage">
											<div class="background" style="background-image: url(@item.siteMapImage);"></div>
										</a>
									</div><!--tab-pane-->

									<div class="tab-pane fade" id="tab-map-2-1">
										<iframe src="@item.siteMapUrl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
									</div><!--tab-pane-->
								</div><!--tab-map-content-->

								<a class="btn btn-viewmore normal w-270 wow fadeInRight" data-wow-delay="0.2s" asp-controller="ParkingSites" asp-action="Index" asp-route-siteId="@item.siteId" >เพิ่มเติม</a>
							</div><!--map-content-wrap-->
						</div><!--col-lg-5-->
					</div><!--row-->
					}
				</div><!--tab-pane -->
			</div><!--tab-location-content-->
		</div><!--section-group-->
	 </div><!--container-->
</div><!--section-findpark--> 