@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ParkXUI.ViewModel.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="section section-banner main">

    <div id="Banner1">
        <div class="images">
            <img class="w-100 d-none d-md-block" id="ShowIMG1"
                 src="images/20200602104455-2020-06-02banner104450.jpg" alt="">
            <div class="background d-block d-md-none"
                 style="background-image: url(images/20200602104455-2020-06-02banner104450.jpg);"></div>
        </div>

        <div class="banner-caption">
            <div class="inner">
                <h2>
                    <span class="wow fadeInLeft">@localizer["ParkXDescription"]</span>
                </h2>
                <a class="btn w-270 wow fadeInUp" href="@Url.Action("Index","FindCarpark")"  >@localizer["FindCarpark"]</a>
            </div>
        </div>
    </div>

				
    <div id=" Banner2" style="display:none;">
        <div class="images">
            <img class="w-100 d-none d-md-block" id="ShowIMG1"
                 src="images/20200510145826-2020-05-10banner145823.jpg" alt="">
            <div class="background d-block d-md-none" style="background-image: url(images/20200510145826-2020-05-10banner145823.jpg);">
            </div>
        </div>

        <div class="banner-caption">
            <div class="inner">
                <h2>
                    <span class="wow fadeInLeft">@localizer["ParkXDescription"]</span>
                </h2>
                <a class="btn w-270 wow fadeInUp" href="@Url.Action("Index","FindCarpark")" >@localizer["FindCarpark"]</a>
            </div>
        </div>
    </div>
</div><!--section-banner-->
                                   <div class=" section section-location pb-100">
										<div class="container wow fadeIn">
											<div class="section-inner">

												<div class="article f20 top d-flex">
													<h2 class="title-lg wow fadeInUp">@localizer["Location"]</h2>
													<div class="col wow fadeInUp">
														<p class="mb-0">@localizer["LocationDescription"]</p>
													</div>
												</div>
											
											<div class="swiper-container swiper-location wow fadeInUp" data-wow-delay="0.2s">
												<div class="swiper-wrapper">
												  
												@if (Model.sites != null)
												{
													if (Model.sites.Count > 0)
													{
														@foreach (var item in Model.sites)
														{
															<div class="swiper-slide">
																<div class="image">
																	<a href="@Url.Action("Index","ParkingSites",new { siteId = item.SiteID.ToString() })">
																		<img class="w-100"
																		     src="@item.SiteImages.FirstOrDefault().Image"
																		     alt="">
																		<div class="logo">
																			<img
																				src="@item.siteLogo"
																				alt=""></div>
																		<p class="note">
																			*ภาพจำลองใช้เพื่องานโฆษณาเท่านั้น</p>
																	</a>
																</div>
																<div class="article f20">
																	<a
																		href="@Url.Action("Index","ParkingSites",new { siteId = item.SiteID.ToString() })">
																		<h3>@item.CompanyName</h3>
																	</a>
																	<p>@item.siteDescription</p>
																	<div class="buttons">
																		<a class="btn w-270"
																		   href="@Url.Action("Index","ParkingSites",new { siteId = item.SiteID.ToString() })">@localizer["more"]</a>
																	</div>
																</div>
															</div><!--swiper-slide-->
														}
													}
												}
												</div><!--swiper-wrapper-->
													<div class="swiper-pagination location"></div>
												</div><!--swiper-location-->

												<!-- Add Arrows -->
												<div class="swiper-button swiper-button-next location"></div>
												<div class="swiper-button swiper-button-prev location"></div>
											</div><!--section-inner-->
										</div><!--container-->
										</div><!--section-location-->
                                        <div class="section section-newsletter">
											<div class="container">
												<div class="row align-items-center wow fadeIn">
													<div class="col-lg-5">
														<div class="article f20">
															<h3 class="title-lg mt-0">@localizer["ReceiveNews"]</h3>
															<p>@localizer["RegisterNew"]</p>
														</div>
													</div>
													<div class="col-lg-7">
														<form action="#" role="form"
														      class="form form-newsletter" id="form_newsletter" method="POST"
														      accept-charset="utf-8">
															<input type="hidden"
															       name="__sw8oc8sgg0c4oos4kcsoss8woo84ggwcg8s0s0kc"
															       value="0fc8bf5b58c35d74c57fa5ae6856b6a3">
															<div class="input-flex">
																<div class="input">
																	<input type="text" class="form-control" name="mailregis"
																	       id="mailregis" placeholder="@localizer["yourEmail"]">
																</div>
																<button class="btn btn-outline" type="button"
																        id="btn_mailregis">@localizer["Register"]</button>
															</div>
														</form>
													</div><!--col-lg-7-->
												</div><!--row-->
											</div><!--container-->
						          </div><!--section-newsletter-->

						<div class="cookie-content">
							<div class="container">
								@localizer["cookie-des"] <br class="d-none d-xl-block"> @localizer["PleaseRead"] <a href="https://www.parkx.com/en/terms-and-conditions">@localizer["TermsAndConditions"]</a>
								@localizer["And"] <a href="https://www.parkx.com/en/privacy-policy"> @localizer["PrivacyPolicy"]</a>
								 <div class="button">
									<button class="btn btn-accept normal" type="button"
									        id="acp_ck">@localizer["Accept"]</button>
									<button class="btn btn-close normal" type="button" id="acp_ck2"></button>
								</div>
							</div>
						</div><!--cookie-content-->										
@section Scripts {
	<script>
	$(document).ready(function () {
		var TotalBanner = 2;
		var CurrentShowIndex = 1;


		function ShowSlideBanner() {

			CurrentShowIndex += 1;

			var NextShowID = CurrentShowIndex;
			var NextHideID = NextShowID - 1;

			if (CurrentShowIndex > TotalBanner) { CurrentShowIndex = 1; NextShowID = 1; NextHideID = TotalBanner; }

			console.log(CurrentShowIndex + ' == ' + NextShowID + ' == ' + NextHideID);

			$("#Banner" + NextHideID).fadeOut("slow", function () { $("#Banner" + NextShowID).fadeIn("slow"); });
		}

		setInterval(function () { ShowSlideBanner(); }, 30000);

	});
</script>

<script>
	$(document).ready(function () {
		$("#acp_ck").on('click', function () {
			var expireDate = new Date();
			expireDate.setFullYear(expireDate.getFullYear() + 1); // Set expiration date to one year from now
			document.cookie = "acp_cookie=1;expires=" + expireDate.toUTCString() + ";path=/";
			console.log("Cookie set: acp_cookie=1;expires=" + expireDate.toUTCString() + ";path=/");
		});

		$("#acp_ck2").on('click', function () {
			var expireDate = new Date();
			expireDate.setFullYear(expireDate.getFullYear() + 1); // Set expiration date to one year from now
			document.cookie = "acp_cookie=1;expires=" + expireDate.toUTCString() + ";path=/";
			console.log("Cookie set: acp_cookie=1;expires=" + expireDate.toUTCString() + ";path=/");
		});

		// Check if the cookie is set
		var acpCookie = document.cookie.split('; ').find(row => row.startsWith('acp_cookie='));
		if (acpCookie) {
			console.log("Cookie found: " + acpCookie);
			$(".cookie-content").hide();
		} else {
			console.log("Cookie not found");
			$(".cookie-content").show();
		}
	});

</script>
}

										